# Library Importing

In [1]:
import pandas as pd

# Dataset Importing

In [2]:
df1 = pd.read_excel ('rubbercompound.xlsx')
df2 = pd.read_excel ('waterhose.xlsx')

In [3]:
df1

     Unnamed: 0  hardness  tensile  elongation    sg
0             0        70      124         427  1.24
1             1        71      134         483  1.25
2             2        69      117         406  1.25
3             3        71      114         408  1.26
4             4        69      117         384  1.24
..          ...       ...      ...         ...   ...
959         959        70      109         375  1.27
960         960        70      110         437  1.26
961         961        73      106         338  1.27
962         962        71      119         434  1.28
963         963        70      130         483  1.25

[964 rows x 5 columns]

In [4]:
df2

     Unnamed: 0  bursting     crack
0             0      2.29  No crack
1             1      2.46  No crack
2             2      2.26  No crack
3             3      2.31  No crack
4             4      2.29  No crack
..          ...       ...       ...
959         959      2.16  No crack
960         960      2.28  No crack
961         961      2.10     Crack
962         962      2.27  No crack
963         963      2.46  No crack

[964 rows x 3 columns]

# Data Integrating

In [5]:
s1 = pd.Series(df2.bursting)
s2 = pd.Series(df2.crack)

In [6]:
df = pd.concat([df1, s1, s2], axis=1)
df

     Unnamed: 0  hardness  tensile  elongation    sg  bursting     crack
0             0        70      124         427  1.24      2.29  No crack
1             1        71      134         483  1.25      2.46  No crack
2             2        69      117         406  1.25      2.26  No crack
3             3        71      114         408  1.26      2.31  No crack
4             4        69      117         384  1.24      2.29  No crack
..          ...       ...      ...         ...   ...       ...       ...
959         959        70      109         375  1.27      2.16  No crack
960         960        70      110         437  1.26      2.28  No crack
961         961        73      106         338  1.27      2.10     Crack
962         962        71      119         434  1.28      2.27  No crack
963         963        70      130         483  1.25      2.46  No crack

[964 rows x 7 columns]

# Dataset Exporting

In [7]:
df = df.drop(columns=['Unnamed: 0'])
df.to_excel("dataset.xlsx")